@import url('https://fonts.googleapis.com/css2?family=Dosis&family=PT+Sans&display=swap');

body {
    margin: 0;
    height: 100vh;
    font-family: 'Dosis', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4992ff;
    height: 10vh;
    box-shadow: 0px 4px 6px 1px silver;
}
header h1 {
    color: white;
}
header > div {
    width: 40%;
    margin-left: 2%;
    display: flex;
    gap: 3%;
    align-items: center;
    }

#logo-image {
    width: 4rem;
}
form {
    display: flex;
    width: 40%;
    gap: 3%;
    /* height: 20%; */
    align-items: center;
    justify-content: flex-end;
    margin-right: 2%;
}

form > input { 
    padding: 2%;
    width: 50%;
    outline: none;
    border: 1px silver solid;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
}

form > button, #change-temp { 
    padding: 2%;
    width: 6rem;
    background: white;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    font-family: inherit;
}

#container {
    display: flex;
    flex-direction: column;
    width: 50vw;
    padding: 5%;
    position: relative;
    left: 20%;
    top: 10%;
    background-color: #daeeff;
    border-radius: 15px;
    box-shadow: 0px 0px 6px 1px silver;
}

#time-details{
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    /* margin: 2%; */
}

#weather-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

#weather-icon {
    width: 7rem;
}

p {
    font-size: 1.4rem;
    /* font-weight: bold; */
}

#change-temp {
    position: absolute;
    bottom: 3%; 
    left: 3%;
    width: 20%;
    border: 1px solid #4992ff;
}

#change-temp:hover { 
    background-color: #4992ff;
    border-color: white;
}

#container h1 {
    font-size: 4rem; 
}